/* =====================        Global       ====================== */

:root {
    --color-background: #F2F2F2;
    --color-warning: #FF2424;
    --color-blue: #1212F7;
    --color-coral-blue: #2B927F;
    --color-green: #4BC57B;
    --color-purple: #7712F7;
    --color-dark-purple: #470B94;
    --color-pink: #F53261;
    --color-black: #000000;
    --color-darkest-grey: #303030;
    --color-dark-grey: #646464;
    --color-grey: #939393;
    --color-light-grey: #E8E8E8;
    --color-white: #FFFFFF;
    --transition-duration: 200ms;
    --transition-duration-inter: 500ms;
    --transition-duration-slow: 1500ms;
}

.landing-view {
    width: 100vw;
    font-family: 'Poppins' !important;
    color: var(--color-black);
}

.landing-view h1 {
    font-size: 4.5rem;
    line-height: 110%;
    transition: var(--transition-duration);
}

.landing-view h2,
.footer-title {
    font-size: 2.5rem;
    line-height: 110%;
    transition: var(--transition-duration);
}

h2 {
    font-size: 2.5rem;
    line-height: 110%;
}

.bold {
    font-weight: 700;
}

.white {
    color: var(--color-white);
}

.push-right {
    margin-left: auto;
}

/* =====================        Nav        ====================== */

.landing-header {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    position: fixed;
    z-index: 11;
    justify-content: space-between;
    top: 0;
    left: 0;
    transition: var(--transition-duration);
    color: var(--color-white);
}

.landing-header h4:first-child{
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}

.landing-header h4 {
    position: relative;
}

.landing-header
h4:last-of-type::after {
    position: absolute;
    content: '';
    bottom: -3px;
    left: 0;
    width: 0;
    height: 3px;
    background: var(--color-background);
    z-index: 20;
    transition: var(--transition-duration);
}

.landing-header
h4:hover::after {
    width: 100%;
}

.scroll-nav {
    transition: var(--transition-duration);
    background-color: var(--color-purple);
    height: 50px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.landing-header h4 {
    margin-left: 5%;
}

.landing-header h4:last-child {
    margin-left: 0;
    margin-right: 5%;
}

/* =====================        Hero       ====================== */

.landing-hero {
    position: relative;
    width: 100%;
    min-height: 100vh;
    background-color: var(--color-purple);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    overflow: hidden;
}

.landing-hero-content {
    display: flex;
    flex-direction: row;
    height: 65vh;
    max-width: 1700px;
}

.landing-hero-left {
    text-align: right;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 20vh;
}

.landing-hero-left a {
    padding: 1vh 3vh;
    color: var(--color-white);
    font-weight: 500;
    border: 3px solid var(--color-white);
    width: fit-content;
    border-radius: 50px;
    cursor: pointer;
    transition: var(--transition-duration);
}

.landing-hero-left a:hover {
    transform: translateY(-10px);
}

.landing-hero-right {
    position: relative;
    width: max-content;
    transition: var(--transition-duration);
    min-width: 60vh;
    background: radial-gradient(circle, rgba(245,50,97,0.4) 1%, rgba(0,212,255,0) 65%);
}

.audit-verification {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: var(--color-background);
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    z-index: 15;
    background-color: var(--color-black);
    padding: 1.5rem;
    border-radius: 12px;
    filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.25));
    animation: phone infinite 10s;
}

.audit-verification span {
    display: inline-block;
    max-width: 1.2rem;
    margin-right: 0.5rem;
}

.landing-laptop {
    height: 100%;
    margin-left: 20%;
    filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.25));
}

.landing-phone {
    height: 80vh;
    margin-left: 15%;
    margin-top: -50px;
    filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.25));
    animation: phone infinite 10s;
}

.tags {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.tags p {
    text-align: center;
    padding: 10px 15px;
    background-color: rgba(0, 0, 0, 0.7);
    font-size: 0.9rem;
    color: var(--color-background);
    font-weight: 600;
    margin-left: 30px;
    cursor: default;
    transition: var(--transition-duration);
}

@keyframes phone {
    50% {
        transform: rotate(3deg) scale(1.05);
        filter: drop-shadow(20px 30px 20px rgba(0, 0, 0, 0.6));
    }
}

.chevron-container {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    animation: bob 1.5s infinite;
    cursor: pointer;
}

@keyframes bob {
    0% {
        transform: translate(-50%, -20px);
    }
    50% {
        transform: translate(-50%, 0px);
    }
    100% {
        transform: translate(-50%, -20px);
    }
}

/* =====================      Partners      ====================== */

#partners {
    position: relative;
    height: min(300px, 25vh);
    background-color: var(--color-white);
    z-index: 10;
    z-index: 5;
    display: flex;
    flex-direction: column;
}

.partners-container {
    margin-bottom: 10px;
    margin-bottom: auto;
}

.partner-logo {
    max-height: min(100px, 10vh);
    max-width: 200px;
}

.swiper-slide {
    width: auto !important;
    display: flex !important;
    height: auto !important;
}

.swiper-slide img {
    object-fit: contain;
}

.partners-wave-top {
    position: relative;
    top: 0;
    width: 100vw;
    margin-bottom: auto;
    filter: drop-shadow(0px 2px 20px rgba(0, 0, 0, 0.2));
}

.partners-wave-bottom {
    width: 100%;
    filter: brightness(0) invert(1) drop-shadow(0px 2px 20px rgba(0, 0, 0, 0.1));
    z-index: 4;
}

/* =====================     Explanation    ====================== */

#explanation {
    background-color: var(--color-background);
}

#explanation .infographic {
    max-width: 700px;
    max-height: 60vh;
}

#explanation .infographic:last-of-type {
    max-height: 80vh;
}

.explanation-container {
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.explanation-container div {
    max-width: 600px;
}

.explanation-container:last-of-type {
    padding-bottom: 30vh;
}

.explanation-container:first-of-type {
    text-align: right;
}

.explanation-container video {
    border: 1px solid red;
}


/* =====================      Pricing       ====================== */

#pricing {
    background-color: var(--color-white);
    height: fit-content;
    width: 100%;
    box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.2);
    padding-bottom: 50px;
}

.pricing-container {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    top: -10vh;
    width: 90%;
    display: flex;
}

.pricing-left {
    width: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.pricing-right {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-left: 5%;
}

.price-box {
    width: 90%;
    min-width: 350px;
    max-width: 500px;
    height: 200px;
    background-color: var(--color-purple);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: -6px 6px 0px rgba(0, 0, 0, 0.2);
}

.price-box-content {
    width: max-content;
    display: flex;
}

.price-box-content:first-child div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.price-box:last-child {
    flex-direction: column;
}

#pricing a {
    border: 3px solid var(--color-black);
    border-radius: 50px;
    padding: 1vh 3vh;
    cursor: pointer;
    margin-left: 41%;
    display: inline-block;
    transition: var(--transition-duration-inter);
}

#pricing a:hover {
    transform: translateY(-20px);
}

/* =====================      Contact       ====================== */

#contact {
    width: 100vw;
    border: 1px solid var(--color-purple);
    background-color: var(--color-purple);
    padding-bottom: 100px;
}

.contact-container {
    display: flex;
    flex-direction: row;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15vh;
}

.contact-info {
    margin-right: 2%;
    width: 40%;
}

.contact-form {
    margin-left: 3%;
    width: 60%;
}

.contact-form input, .contact-form textarea {
    font-size: 1.1rem;
}

.form-row {
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;
}

.form-row .text-input {
    height: min(10vh, 70px) !important;
}

.form-row .text-input:last-child {
    margin-left: 30px;
}

.contact-form button {
    border: 3px solid var(--color-white);
    border-radius: 50px;
    font-weight: 500;
    padding: 1vh 3vh;
    cursor: pointer;
    display: inline-block;
    transition: var(--transition-duration);
}

.contact-form button:hover {
    background-color: var(--color-white);
    color: var(--color-purple);
}

#contact h2 {
    font-size: 2rem;
    line-height: 100%;
}

/* =====================      Footer       ====================== */

#footer {
    box-shadow: 0px -2px 20px rgba(0, 0, 0, 0.1);
    color: var(--color-black);
    z-index: 5;
}

.footer-content {
    background-color: var(--color-white);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 50px 0px;
}

.footer-left {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    height: 200px;
    width: 400px;
    margin-right: 5%;
}

.footer-right {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 200px;
    width: 400px;
    padding-left: 5%;
    border-left: 1px solid var(--color-black);
}

.footer-right a {
    cursor: pointer;
    transition: var(--transition-duration-inter);
}

.footer-right a:hover {
    text-decoration: underline;
}

.socials {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.socials a {
    cursor: pointer;
    margin-right: 20px;
}

.socials a:last-of-type {
    margin-right: 0;
}

.footer-banner {
    background-color: var(--color-purple);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    width: 100%;
    padding: 10px 0;
    font-size: 0.8rem;
}

/* =====================       Media Q      ====================== */

@media screen and (max-width: 1450px){
   .price-box-content img {
       display: none;
   }
}

@media screen and (max-width: 1150px) {
    .landing-hero-left {
        margin-right: -20vh;
    }
    .landing-phone {
        margin-left: 30vh;
        height: 80vh;
    }
    .explanation-container{
        flex-direction: column;
        justify-content: center;
        text-align: center !important;
    }
    .explanation-container:last-of-type {
        flex-direction: column-reverse;
    }
    .explanation-container:first-of-type {
        margin-top: 100px;
        flex-direction: column-reverse;
    }
    .audit-verification {
        right: -2rem;
    }
}

@media screen and (max-width: 1000px) {
    .pricing-left {
        width: 100%;
    }
    .pricing-right {
        width: 100%;
        margin-left: 0;
        text-align: center;
        margin-top: 50px;
    }
    .pricing-container {
        display: flex;
        flex-direction: column;
    }
    #pricing a {
        margin-left: 50%;
        transform: translate(-50%,0);
        text-align: center;
    }
    #pricing a:hover {
        transform: translate(-50%, -20px);
    }
    .price-box-content img {
        display: unset;
    }
}

@media screen and (max-width: 930px) {
    .landing-hero-right {
        display: none;
    }
    .landing-hero {
        background: linear-gradient(180deg, #9B16B0 0%, var(--color-purple) 83.16%);
    }
    .landing-hero-left {
        margin-right: 0;
    }
    .contact-container {
        flex-direction: column;
        align-items: center;
    }
    .contact-info {
        text-align: center;
        width: 100%;
    }
    .contact-form {
        width: 100%;
        margin-top: 10vh;
    }
}

@media screen and (max-width: 850px) {
    .explanation-container .infographic {
        margin-top: 50px;
        width: 90%;
    }
}

@media screen and (max-height: 800px) {
    .tags p {
        font-size: 0.7rem;
        padding: 0.5rem 1rem;
        margin-top: -25px !important;
    }
    .audit-verification {
        padding: 1rem 1.5rem;
        bottom: 3rem;
    }
    .price-box {
        max-height: 25vh;
    }
    .tagline {
        margin-top: 25px !important;
    }
}

@media screen and (max-width: 640px) {
    .footer-content {
        flex-direction: column;
    }
    .footer-left {
        margin-right: 0;
        width: auto;
        align-items: center;
        border-bottom: 1px solid var(--color-black);
        padding-bottom: 40px;
        height: auto;
    }
    .socials {
        padding-top: 20px;
    }
    .footer-right {
        padding-left: 0;
        border-left: none;
        align-items: center;
        margin-top: 20px;
    }
}

@media screen and (max-width: 525px) {
    .landing-view h1 {
        font-size: 3rem !important;
    }
    .landing-hero-left a {
        border: 2px solid var(--color-white);
        font-size: 0.8rem;
    }
    .landing-hero-left p {
        max-width: 60vw;
    }
    .price-box {
        min-width: 200px !important;
    }
    .form-row {
        flex-direction: column;
    }
    .form-row .text-input:last-child {
        margin-left: 0;
        margin-top: 15px;
    }
    .tags p {
        font-size: 0.7rem;
        padding: 0.5rem;
    }
}

@media screen and (max-width: 350px) {
    .landing-view h1 {
        font-size: 2rem !important;
    }
    .landing-hero-left p {
        font-size: 0.8rem;
    }
    .landing-hero-left a {
        font-size: 0.5rem;
    }
    .price-box-content img {
        display: none;
    }
}