/* =====================       Imports       ====================== */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,700;0,800;1,100;1,300;1,400;1,500;1,700;1,800&display=swap');

/* =====================        Global       ====================== */

:root {
    --color-background: #F2F2F2;
    --color-blue: #1212F7;
    --color-green: #4BC57B;
    --color-purple: #7712F7;
    --color-pink: #F53261;
    --color-black: #000000;
    --color-darkest-grey: #303030;
    --color-dark-grey: #646464;
    --color-grey: #939393;
    --color-light-grey: #E8E8E8;
    --color-white: #FFFFFF;
    --transition-duration: 200ms;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: var(--color-light-grey);
    border-radius: 5px;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.view {
    width: 100vw;
    min-height: 100vh;
    background-color: var(--color-background);
}

.title-large {
    color: var(--color-black);
    font-size: 2.5rem;
    font-weight: bold;
    margin-top: 1.5rem;
}

.title-medium {
    color: var(--color-black);
    font-size: 1.7rem;
    font-weight: bold;
    margin-top: 1.5rem;
}

.logo {
    margin-top: -50px;
    width: 20vh;
    height: 20vh;
    max-width: 175px;
    max-height: 175px;
    min-width: 75px;
    min-height: 75px;
}

.plain-text-button {
    font-size: 0.8rem;
    font-weight: 700;
    color: var(--color-dark-grey);
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.back-button {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    top: 25px;
    left: 25px;
    padding: 5px;
    cursor: pointer;
    color: var(--color-dark-grey);
}

.back-button-text {
    margin-left: 20px;
}

.button {
    color: var(--color-white);
    font-size: 12px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 30px;
    border-radius: 30px;
    cursor: pointer;
    filter: drop-shadow(0px 0px 12px rgba(0, 0, 0, 0.3));
}

.input-label {
    color: var(--color-darkest-grey);
    font-weight: 700;
    font-size: 1.3rem;
}

.text-input {
    width: 100%;
    padding: 10px 20px;
    border-radius: 10px;
    font-weight: 700;
    font-size: 0.9rem;
    color: var(--color-dark-grey);
}

.text-input:focus {
    outline: none;
}

.error-input {
    border: var(--color-pink) 1px dashed;
}

/* =====================      Navigation     ====================== */

.nav-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 50vh;
    transition: var(--transition-duration);
}

.nav-container:first-child {
    filter: drop-shadow(0px 8px 30px rgba(0, 0, 0, 0.1));
}

.nav-container:hover {
    height: 60vh;
}

.nav-content {
    padding: 10vh 10vw;
}

.nav-content:hover {
    cursor: pointer;
}

.nav-title {
    margin-top: 40px;
    font-weight: 700;
    font-size: 0.8rem;
    text-transform: uppercase;
    color: var(--color-grey);
}

.nav-label {
    color: var(--color-grey);
    font-size: 0.6rem;
}

.nav-icon {
    min-width: 100px;
    width: 10vh;
    max-width: 400px;
}

.nav-curve {
    position: absolute;
    top: 50vh;
    transition: var(--transition-duration);
}

/* =====================       Create        ====================== */

.create-container {
    width: 90vw;
    max-width: 1000px;
}

.add-payee-form {
    display: flex;
    flex-direction: row;
}

.add-payee-button {
    cursor: pointer;
}

.w-50 {
    width: 30vw !important;
    max-width: 100px;
}

/* =====================     Connections     ====================== */

.connect-button {
    color: var(--color-white);
    font-weight: 500;
    padding: 3px 50px 5px 50px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.connector-button {
    min-height: 45px;
    padding: 0 15px;
    width: 100%;
    font-size: 15px;
    cursor: pointer;
    border: 1px solid var(--color-light-grey);
    border-radius: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    transition: var(--transition-duration);
}

.connector-button:hover {
    background-color: var(--color-light-grey);
}

.connector-icon {
    width: 33px;
    display: flex;
    justify-content: center;
}

.connected-account {
    margin-top: 15px;
    font-size: 0.8rem;
}

.disconnector {
    position: absolute;
    top: 25px;
    right: 25px;
    padding: 5px;
}

.disconnector:hover {
    cursor: pointer;
}

.tc-warning {
    margin-top: 10px;
    text-align: center;
    font-size: 8px;
}

.powered-tag {
    font-size: 0.5rem;
    font-weight: 800;
    color: var(--color-black);
    position: absolute;
    left: 50%;
    bottom: 5px;
    transform: translateX(-50%);
}

/* =====================         Modal       ====================== */


.modal-header {
    padding: 15px 0 15px 0;
    border-bottom: 1px solid var(--color-light-grey);
}

.modal-header-icon {
    margin: 0 10px 0 25px;
}

.modal-title {
    font-weight: 700;
    color: var(--color-dark-grey);
    font-size: 15px;
}

.modal-body {
    padding: 15px;
}

.modal-content {
    width: 100%;
    margin-top: 10px;
    padding: 0 20px 15px 10px;
    min-height: fit-content;
    max-height: 70vh;
}

.modal-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.no-border {
    border: none !important;
}

.test {
    background-color: red;
    width: 10px;
    height: 4000px;
}

/* =====================       Overflow     ====================== */

.overflow-hidden {
    overflow: hidden;
}

.scrollable-y {
    overflow-y: scroll;
}

/* =====================    Content Layout   ====================== */

.flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.flex-row {
    flex-direction: row;
}

.flex-align-center {
    align-items: center;
}

.flex-start {
    justify-content: start;
}

.flex-center {
    justify-content: center;
}

.flex-end {
    justify-content: end;
}

.push-right {
    margin-left: auto;
}

.push-left {
    margin-right: auto;
}

.push-top {
    margin-bottom: auto;
}

.push-bottom {
    margin-top: auto;
}

.text-center {
    text-align: center;
}

/* ===================== Chakra UI Overrides ====================== */

.modal {
    -webkit-padding-start: 0 !important;
    padding-inline-start: 0 !important;
    -webkit-padding-end: 0 !important;
    padding-inline-end: 0 !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.chakra-modal__content {
    border-radius: 15px !important;
}

.inline-link {
    cursor: pointer;
    color: var(--color-blue);
}
/* ======================  Background Color  ====================== */

.bg-blue {
    background-color: var(--color-blue);
}

.bg-green {
    background-color: var(--color-green);
}

.bg-purple {
    background-color: var(--color-purple);
}

.bg-pink {
    background-color: var(--color-pink);
}

.bg-black {
    background-color: var(--color-black);
}

.bg-dark-grey {
    background-color: var(--color-dark-grey);
}

.bg-grey {
    background-color: var(--color-grey);
}

.bg-light-grey {
    background-color: var(--color-light-grey);
}

.bg-white {
    background-color: var(--color-white);
}

/* ======================       Margins      ====================== */

.vtspace-200 { margin-top: 200px; }

.vtspace-175 { margin-top: 175px; }

.vtspace-150 { margin-top: 150px; }

.vtspace-125 { margin-top: 125px; }

.vtspace-100 { margin-top: 100px; }

.vtspace-75 { margin-top: 75px; }

.vtspace-50 { margin-top: 50px; }

.vtspace-25 { margin-top: 25px; }

.vtspace-20 { margin-top: 20px; }

.vtspace-15 { margin-top: 15px; }

.vtspace-10 { margin-top: 10px; }

.vtspace-5 { margin-top: 5px; }

.vbspace-200 { margin-bottom: 200px; }

.vbspace-175 { margin-bottom: 175px; }

.vbspace-150 { margin-bottom: 150px; }

.vbspace-125 { margin-bottom: 125px; }

.vbspace-100 { margin-bottom: 100px; }

.vbspace-75 { margin-bottom: 75px; }

.vbspace-50 { margin-bottom: 50px; }

.vbspace-25 { margin-bottom: 25px; }

.vbspace-20 { margin-bottom: 20px; }

.vbspace-15 { margin-bottom: 15px; }

.vbspace-10 { margin-bottom: 10px; }

.vbspace-5 { margin-bottom: 5px; }

.hlspace-200 { margin-left: 200px; }

.hlspace-175 { margin-left: 175px; }

.hlspace-150 { margin-left: 150px; }

.hlspace-125 { margin-left: 125px; }

.hlspace-100 { margin-left: 100px; }

.hlspace-75 { margin-left: 75px; }

.hlspace-50 { margin-left: 50px; }

.hlspace-25 { margin-left: 25px; }

.hlspace-20 { margin-left: 20px; }

.hlspace-15 { margin-left: 15px; }

.hlspace-10 { margin-left: 10px; }

.hlspace-5 { margin-left: 5px; }

.hrspace-200 { margin-right: 200px; }

.hrspace-175 { margin-right: 175px; }

.hrspace-150 { margin-right: 150px; }

.hrspace-125 { margin-right: 125px; }

.hrspace-100 { margin-right: 100px; }

.hrspace-75 { margin-right: 75px; }

.hrspace-50 { margin-right: 50px; }

.hrspace-25 { margin-right: 25px; }

.hrspace-20 { margin-right: 20px; }

.hrspace-15 { margin-right: 15px; }

.hrspace-10 { margin-right: 10px; }

.hrspace-5 { margin-right: 5px; }